/* LOGIN
   ----------------------------- */

.login-container {
  max-width: 350px;
}

.login-form,
.register-redirect {
  padding: 20px;
  margin: 15px 0;
  background: $background-color-0;
  border: 1px solid $background-color-4;
  border-radius: 6px;
}

.password-label-container {
  a {
    font-size: 90%;
    font-weight: 600;
    color: $color-secondary-2-2;
  }
}

.login-header {
  margin-top: 25px;

  .logo {
    text-align: center;

    a {
      color: $color-primary-0;
    }

    a:hover {
      text-decoration: none;
    }
  }

  .page-title {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;

    h2 {
      font-size: 140%;
      font-weight: 300;
    }
  }
}

.register-redirect {
  a {
    color: $color-primary-0;
  }

  a:hover {
    text-decoration: none;
  }
}

.login-footer {
  margin: 40px 0;
  font-size: 90%;
  text-align: center;

  a {
    color: $text-color-3;
  }
}

.join-header,
.profile-header {
  margin-top: 30px;

  h2,
  h3 {
    letter-spacing: -1px;
  }

  h2 {
    font-size: 180%;
  }

  h3 {
    font-size: 140%;
    font-weight: 300;
  }
}

.join-steps {
  margin-top: 20px;
  border: 1px solid $background-color-3;
  border-radius: 3px;

  .step {
    padding: 10px 15px;
  }

  .step-icon {
    float: left;
    font-size: 200%;
  }

  .disabled {
    color: $text-color-4;
  }

  .current {
    .step-icon {
      color: $color-secondary-2-2;
    }
  }

  .success {
    .step-icon {
      color: $color-complement-4;
    }

  }

  .step-text {
    margin-left: 40px;
  }

  .step-title {
    font-weight: 600;
  }

  .step-description {
    font-size: 95%;
  }
}

@media (max-width: 768px) {
  .join-steps {
    .with-padding {
      padding-left: 30px;
    }
  }
}

@media (min-width: 768px) {
  .step.with-border {
    height: 100%;
    border-right: 1px solid $background-color-3;
  }
}

.join-form-container {
  margin-top: 20px;

  a {
    color: $color-secondary-2-2;
  }

  .join-form {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .policy-text {
    margin-top: 30px;
  }
}

.join-form-header,
.profile-form-header {
  h3 {
    font-size: 160%;
    font-weight: 300;
  }
}

.profile-form {
  margin-bottom: 30px;
}

.profile-form-alerts {
  margin-top: 30px;
}

.btn-telegram {
  .fa {
    font-size: 100%;
  }

  span {
    color: $background-color-2;
  }
}
