/* CONTROLS
   ----------------------------- */

.btn-custom {
  font-weight: 600;
  color: $background-color-0;
  cursor: pointer;
}

.btn-custom:hover {
  color: $background-color-0;
}

.btn-custom-primary {
  background-color: $color-primary-0;
}

.btn-custom-secondary-1 {
  background-color: $color-secondary-1-0;
}

.btn-custom-secondary-2 {
  background-color: $color-secondary-2-0;
}

.btn-full {
  width: 100%;
}

@media (max-width: 768px) {
  .btn-full-mobile {
    width: 100%;
  }
}

.control-label-custom {
  font-size: 95%;
  font-weight: 600;

  em {
    font-weight: 400;
    user-select: none;
  }
}

.control-group {
  margin: 30px 0;
}

.input-field-custom {
  padding: 5px 2px;
  color: $text-color-2;
  border: none;
  border-bottom: 2px solid $background-color-3;
  border-radius: 0;
  transition: border-color .5s ease;
}

.input-field-custom:focus {
  color: $text-color-1;
  border-color: $color-primary-0;
  box-shadow: none;
}

.help-block-custom {
  display: block;
  margin-top: 10px;
  font-size: 90%;
  color: $text-color-2;
}

.alert-custom-danger {
  color: $color-primary-4;
  background: $color-primary-1;
  border: 1px solid $color-primary-4;
}

.alert-custom-success {
  color: $color-complement-4;
  background: $color-complement-1;
  border: 1px solid $color-complement-4;
}

.check-group {
  margin-left: 20px;

  .check-icon {
    width: 10px;
    margin-right: 15px;
    margin-left: -10px;
    color: $text-color-2;
  }
}
