/* ERRORPAGES
   ----------------------------- */

.error-wrapper {
  min-height: calc(100vh - 54px);
  background: $color-secondary-1-2;
}

.error-container {
  .error-text {
    margin-top: 30px;
  }

  .error-image {
    margin-bottom: 30px;
    text-align: center;
    img {
      max-width: 400px;
    }
  }

  .error-title {
    margin-bottom: 20px;
    font-size: 200%;
    font-weight: 700;
  }

  .error-message {
    font-size: 110%;
  }

  a {
    color: $color-secondary-2-2;
  }

  a:hover {
    color: $color-secondary-2-3;
    text-decoration: none;
  }

  .error-code {
    font-family: monospace;
    font-size: 90%;
  }
}

@media (min-width: 768px) {
  .error-container {
    min-height: calc(100vh - 54px);
  }
}
