/* FOOTER
   ----------------------------- */

.main-footer {
  padding: 40px 0;
  color: $background-color-1;
  background: url("../vectors/footer.svg"), $color-secondary-2-3;

  hr {
    background: $color-secondary-2-1;
  }

  .debug {
    margin-top: 20px;
    font-size: 90%;
    text-align: center;
  }
}

.footer-group-title {
  margin-bottom: 15px;

  h4 {
    font-size: 120%;
    font-weight: 600;
  }
}

.footer-group-content {
  margin-bottom: 40px;

  .footer-text-input {
    padding: 5px 10px;
    color: $text-color-2;
    background: $background-color-4;
    border: none;
    border-radius: 2px;
    transition: background-color 1s ease;
  }

  .footer-text-input:focus {
    color: $text-color-1;
    background: $background-color-2;
    box-shadow: none;
  }

  .footer-check-input {
    margin-left: 0; // fix
    border: none;
  }

  .form-check-label {
    margin-left: 5px;
    font-size: 90%;
  }

  .footer-btn {
    width: 100%;
    padding: 10px 0;
    color: $background-color-4;
    cursor: hand;
    background: $color-secondary-2-4;
  }

  .footer-btn:hover {
    color: $background-color-2;
    cursor: hand;
    background: $color-secondary-2-0;
  }

  a {
    color: $background-color-1;
    text-decoration: underline;
  }

  .footer-links {
    li {
      margin-bottom: 5px;
      margin-left: -30px; // fix
      list-style: none;
    }
  }

  .footer-icons {
    li:first-child {
      margin-left: -30px; // fix
    }

    li {
      float: left;
      margin-right: 20px;
      font-size: 200%;
      list-style: none;
    }

    li:last-child {
      margin-right: 0;
    }
  }
}

.copyrights {
  margin-top: 40px;
  font-size: 95%;

  section {
    margin-bottom: 10px;
  }

  a {
    color: $background-color-1;
    text-decoration: underline;
  }
}
