/* HEADER
   ----------------------------- */

.main-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 3px;
  color: $background-color-0;
  background-color: $color-primary-0;

  a {
    color: $background-color-0;
    text-decoration: none;
  }
}

.header-actions {
  margin-top: 6px;

  .action-label {
    padding: 5px 10px;
    font-weight: 600;
    border: 2px solid $background-color-0;
    border-radius: 5px;
  }

  .action-icon {
    font-size: 150%;
  }

  .action-container {
    float: left;
    margin-right: 6px;
    margin-left: 12px;
  }
}

.logo {
  h1 {
    font-size: 175%;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -2px;
  }
}

.header-total-price {
  .spinner-icon {
    font-size: 100%;
  }
}
