/* MAIN
   ----------------------------- */

body {
  height: calc(100vh - 54px); // to match to viewport
  font: 100% $font-stack;
  color: $text-color-1;
  background-color: $background-color-0;
}

.main-container {
  min-height: 100vh;
}

.with-header {
  min-height: calc(100vh - 54px);
  margin-top: 54px;
}

.primary {
  background: $color-primary-0;
}

.secondary-1 {
  background: $color-secondary-1-0;
}

.secondary-2 {
  background: $color-secondary-2-0;
}

.image-wrapper {
  height: 270px;
  background: url("../img/home.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

@media (max-width: 768px) {
  .image-wrapper {
    height: 300px;
  }
}

.main-title {
  padding-top: 70px;
  color: $background-color-1;
  text-align: center;

  .title {
    font-size: 150%;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .motto {
    font-size: 110%;
    font-weight: 300;
  }
}

@media (min-width: 768px) {
  .page-title {
    .title {
      font-size: 200%;
    }

    .motto {
      font-size: 140%;
    }
  }
}

.menu-button {
  margin-top: 50px;
  text-align: center;
}

.box-wrapper {
  padding: 30px 0;
  margin-top: 30px;

  .section-title {
    font-size: 140%;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
  }

  .section-description {
    text-align: center;
  }
}

.box-container {
  margin-top: 20px;
}

.box {
  margin: 20px 0;
}

.box-type-one {
  .box-image {
    float: left;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;

    img {
      width: 60px;
    }
  }

  .box-content {
    margin-left: 100px;
  }

  @media (min-width: 768px) {
    text-align: center;

    .box-image {
      float: none;
      width: 150px;
      height: 150px;

      img {
        width: 120px;
      }
    }

    .box-content {
      margin-top: 20px;
      margin-left: 0;
    }
  }
}

.box-content {
  .title {
    margin-bottom: 7px;
    font-size: 100%;
    font-weight: 600;
  }

  .icons {
    margin-top: 10px;
    font-size: 200%;
    color: $text-color-2;
    text-align: center;

    span {
      margin: 0 7px;
    }
  }
}

.box-type-two {
  .box-image {
    display: inline-block;
    vertical-align: middle;

    img {
      width: 100px;
      margin: 0 20px;
    }
  }

  .box-content {
    display: inline-block;
    vertical-align: top;
  }
}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.padding-right-0 {
  padding-right: 0;
}

.padding-left-0 {
  padding-left: 0;
}

.background-one {
  background: url("../vectors/food1.svg"), $background-color-2;
  background-position: center;
  background-size: cover;
}

.background-two {
  background: url("../vectors/food2.svg"), $background-color-2;
  background-position: center;
  background-size: cover;
}

.howto1 {
  margin-top: 20px;
  margin-left: 10px;
}

.howto2 {
  margin-top: 20px;
  margin-left: 13px;
}

.howto3 {
  margin-top: 20px;
  margin-left: 10px;
}

.why1 {
  margin-top: 15px;
  margin-left: 10px;
}

.why2 {
  margin-top: 22px;
  margin-left: 13px;
}

.why3 {
  margin-top: 20px;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .howto1 {
    margin-top: 30px;
    margin-left: 4px;
  }

  .howto2 {
    margin-top: 32px;
    margin-left: 13px;
  }

  .howto3 {
    margin-top: 32px;
    margin-left: 6px;
  }

  .why1 {
    margin-top: 20px;
    margin-left: 5px;
  }

  .why2 {
    margin-top: 35px;
    margin-left: 11px;
  }

  .why3 {
    margin-top: 35px;
    margin-left: 4px;
  }
}
