/* MENU
   ----------------------------- */

.menu-wrapper {
  min-height: calc(100vh - 54px);
  padding: 30px 0;
  background: $background-color-1;

  .page-title {
    text-align: center;

    .title {
      font-size: 140%;
      font-weight: 700;
      letter-spacing: 1px;
    }
  }
}

.menu-block {
  padding: 20px;
  margin-top: 40px;
  background: $background-color-0;
  box-shadow: 1px 1px 1px $background-color-2;
}

.menu-title {
  .title {
    font-size: 110%;
    font-weight: 600;
  }

  span {
    margin-right: 8px;
  }
}

.category-list {
  ul {
    list-style: none;
  }

  li {
    padding: 5px 0;
    margin-left: -40px;
  }

  a {
    font-size: 110%;
    font-weight: 400;
    color: $text-color-2;
  }
}

.menu-category {
  margin-top: 20px;

  .title {
    font-size: 130%;
    font-weight: 400;
  }
}

.menu-item {
  margin: 10px 0;
}

.menu-item-left {
  float: left;
}

.menu-item-right {
  float: right;

  div {
    display: inline-block;
    margin-left: 5px;
  }
}

.menu-item-title {
  font-weight: 600;
}

.menu-item-description {
  color: $text-color-2;
}

.menu-item-actions {
  .btn {
    padding: 5px 10px;
  }
}

.cart-dish {
  margin: 10px 0;
}

.cart-item-actions,
.cart-item-quantity,
.cart-item-separator,
.cart-item-name {
  float: left;
  font-size: 90%;
}

.cart-item-price {
  float: right;
  font-size: 90%;
}

.cart-item-actions {
  margin-right: 10px;

  .btn {
    padding: 0 4px;
    font-size: 75%;
  }
}

.cart-item-quantity {
  margin-right: 3px;
  font-weight: 600;
}

.cart-item-separator {
  margin-right: 3px;
}

.cart-totals {
  padding: 20px 0;
  margin-top: 20px;
  border-top: 1px solid $background-color-4;

  .cart-subtotal,
  .cart-shipping,
  .cart-total {
    padding: 2px 0;
  }

  .cart-subtotal,
  .cart-shipping {
    font-size: 95%;
  }

  .cart-total {
    font-size: 105%;
  }
}

.cart-order {
  .cart-order-separator {
    padding: 10px 0;
    font-style: italic;
    color: $text-color-4;
    text-align: center;
  }

  .cart-order-pickup {
    span {
      margin-top: 5px;
      font-size: 90%;
      color: $text-color-4;
      text-align: center;
    }
  }
}

.cart-cancel {
  margin-top: 20px;
}
