/* CONTROLS
   ----------------------------- */

.test {
  color: #fff;
  background-color: #f00;
}

.foo {
  color: #fff;
  background-color: #0f0;
}

.bar {
  color: #fff;
  background-color: #00f;
}
