/* vendor
   ----------------------------- */
.v{
  padding-top: 64px;
  padding-bottom: 20px;
}

.info-box {
  margin-bottom: 10px;
  .box-title{
    h5{
      display: inline-block;
      margin-top: 15px;
      margin-bottom: 0;
    }
  }
  .box-opacity-v {
    background-image: none;
  }
  .box-content-v {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    background-color: $background-color-1;
    border: 1px solid $background-color-3;
    border-radius: 5px;
    .order {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      span {
        height: 100%;
        padding: 10px;
      }
    }
    .more_info{
      display: none;
      flex-direction: column;
      width: auto;
      border-top: 1px solid $background-color-3;
      button{
        float: right;
        margin: 10px;
      }
    }
    canvas {
      width: 100%;
      padding: 20px;
    }
  }
  .hidable{
    display: none;
  }
  .link-v{
    display: inline-block;
    float: right;
  }
}
.user{
  border-top: 2px solid $background-color-3;
}

.more{
  padding: 10px;
  text-decoration: underline;
  cursor: pointer;
  i{
    padding: 0;
  }
}

.navigator{
  margin-bottom: 10px;
}

.nav{
  border-bottom: 1px solid $background-color-3;
}

@media (min-width: 768px) {
  .nav {
    border-right: 1px solid $background-color-3;
    border-bottom: none;
  }
}

.nav-item {
  width: 100%;
  a{
    color: $text-color-0;
  }
  h6{
    display: block;
    padding: 1rem 1rem .5rem;
    margin-bottom: 0;
    font-weight: 600;
    border-bottom: 1px solid $background-color-3;
  }
  .category-list{
    padding: .5rem 1rem;
  }
}

.active{
  background-color: $color-primary-0;
  a{
    color: #fff;
    background-color: $color-primary-0;
  }
}

.mb{
  color: #fff;
  background-color: $color-primary-0;
}

select{
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid $text-color-0;
}

.range{
  appearance: none;
  width: 100%;
  height: 5px;
  margin-top: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: .7;
  transition: .2s;
  transition: opacity .2s;
}

.range:hover {
  opacity: 1;
}

.range::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  cursor: pointer;
  background: $color-primary-0;
  border-radius: 50%;
}

.range-div{
  margin-top: 10px;
}

.mbtn{
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  background-color: $color-primary-0;
}
.mbtn:hover{
  color: #000;
  background-color: $color-primary-3;
}

.form-group{
  margin-top: 1.5rem;
  .m-i-t{
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }
  .menu-item-actions{
    display: flex;
    justify-content: flex-end;
  }
}
.menu-item-price{
  input{
    max-width: 50px;
  }
}
.btn-custom-add{
  margin: 5px 0 10px 0;
  background-color: $color-complement-4;
}
.change-price-icon{
  background-color: $color-complement-4;
}
.edit-menu-block{
  margin-top: 20px;
  background: #fff;
}
.card{
  margin-top: 5px;
  .card-body{
    .mbtn{
      margin-bottom: 0;
    }
  }
}
.editForm{
  border-bottom: 1px solid $background-color-3;
  h6{
    font-weight: 600;
  }
}

.message{
  display: none;
}

.analytic-form{
  padding: .5rem;
}

.newCategory-group{
  display: flex;
  .newCat{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .newCategories{
    background-color: $color-complement-4;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.edit-category-list{
  ul{
    li{
      display: flex;
      justify-content: space-between;
    }
  }
}

@media (min-width: 768px) {
  .mbtn{
    margin-bottom: 0;
  }
  .menu-item-price{
    input{
      max-width: 100px;
    }
  }
}
